<div class="m-grid">
  <div class="row">
    <div class="col-md-3">
      <ul class="usernames">
        <% data['top_album_users']['Sheet1'].each do |row| %>
          <li><a href="/<%= row['UserName'] %>.html"><%= row['DisplayName'] %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <p>Lorem ipsum dolor...</p>
    </div>
  </div>
</div>
